@model Product

@{
    ViewBag.Title = "Delete " + Model.Name;
}
<h2>@Model.Name</h2>  
<p>@Model.Description</p>


<p>----------------------------------------------------------</p>
<h1>Are you sure you want to delete <strong>@Model.Name?</strong></h1>
<p>This action cannot be undone.</p>

<form asp-action="DeleteConfirmed" asp-controller="Products" method="post">
    <input type="hidden" name="id" value="@Model.ProductId" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" asp-controller="Products" class="btn btn-secondary">Cancel</a>
</form>
