@model IEnumerable<Product>


@{
	ViewBag.Title = "Resturant Menu Items";
}

<h2>Resturant Menu Items</h2>
<a asp-action="AddEdit" asp-controller="Products" class="btn btn-primary"> AddEdit Item</a>
<div class="row">

	@foreach (Product prod in Model)
	{
		<div class="col-md-4">
			<form asp-action="delete" asp-controller="Product" method="post">
				<input type="hidden" name="id" value="@prod.ProductId"/>
				<div class="card" style="width : 18rem;">
					<img src="@Url.Content("~/images/"+ prod?.ImageUrl)" class="card-img-top fixed-img-height" alt="@prod?.Description" />
					<div class="card-body">

						<h5 class="card-title">@prod?.Name</h5>

						<p class=" card-text">@prod?.Description</p>
						<p class=" card-text">@prod?.Price.ToString("C")</p>
						<p class=" card-text">Quantity in stock: @prod?.Stock</p>

					</div>
				</div>

			</form>
		</div>
	}


</div>


