html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
.fixed-image-height {

    height : 200px;
    object-fit : cover;
    width : 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures that the body takes at least the full height of the viewport */
}

main {
    flex-grow: 1; /* This makes sure that the main content takes the available space, pushing the footer to the bottom */
}

footer {
    margin-top: auto; /* Push the footer to the bottom if the content is small */
}
