@{
    Layout = "_Layout";
    ViewData["Title"] = "Restaurant Home Page";
}

<div class="homepage">
    <div class="homepage-content">
        <p>We’re thrilled to have you here! Explore our menu and place your orders online.</p>
        <a href="Products/" class="order-button">Place an Order</a>
    </div>
</div>
